/* VARIABLES */
:root {
  --dark-pink: #ba4270;
  --link-water-white: #e1e1e1;
  --san-juan-blue: #36536b;
  --mirage-blue: #1b262f;
  --charm-pink: #da6d97;
  --light-san-juan-blue: #6c8294;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"), url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Serif Display";
  src: url("../fonts/DMSerifDisplay-Regular.woff2") format("woff2"), url("../fonts/DMSerifDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Bold.woff2") format("woff2"), url("../fonts/PublicSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* GENERAL */
html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Barlow", "Arial", sans-serif;
  font-family: "Fraunces 9pt", "Times New Roman", serif;
  background-color: #edf3f8;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.site-body {
  background-color: #edf3f8;
  background-image: url("../images/around-bg.svg");
  background-repeat: no-repeat;
  background-size: 780px 780px;
  background-position: calc(50% - 0px) calc(50% - 570px);
}

.site-header {
  padding: 40px 0 32px 0;
}

.site-header__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 135px;
  height: 48px;
}

.site-header__btn {
  display: block;
  width: 28px;
  height: 17px;
  border: none;
  background-color: transparent;
  background-image: url("../images/hamburg.svg");
}

.site-header__nav {
  display: none;
  position: absolute;
  top: -48px;
  background-color: rgba(27, 38, 47, 0.8705882353);
  width: 90%;
  height: 100vh;
  right: -27px;
  z-index: 1;
  padding: 0 24px;
  -webkit-animation-name: circle-to-square;
          animation-name: circle-to-square;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: none;
          animation-iteration-count: none;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes circle-to-square {
  0% {
    width: 100%;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  50% {
    width: 90%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes circle-to-square {
  0% {
    width: 100%;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  50% {
    width: 90%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
.nav__btn {
  display: block;
  margin-left: auto;
  margin-top: 45px;
  padding-bottom: 45px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  background-image: url("../images/x.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.nav__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding-top: 43px;
  border-top: 1px solid rgba(251, 252, 254, 0.1725490196);
  text-align: center;
}

.nav__item {
  margin-bottom: 32px;
}

.nav__link {
  text-decoration: none;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #fbfcfe;
  opacity: 0.7;
}

.nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-link {
  padding: 15px 36px;
  display: inline-block;
  text-decoration: none;
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  background-color: #BA4270;
  border-radius: 24px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.site-header__inner--active .site-header__nav {
  display: block;
}

@media only screen and (min-width: 640px) {
  .site-body {
    background-size: 949px 949px;
    background-position: calc(50% - 0px) calc(50% - 680px);
  }
  .site-header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    height: 38px;
  }
  .site-header__btn {
    display: none;
  }
  .site-header__nav {
    width: 554px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: 0;
    background-color: transparent;
    height: 48px;
    right: 0;
    z-index: 0;
    padding: 0;
    -webkit-animation-name: none;
            animation-name: none;
    -webkit-animation-duration: 0;
            animation-duration: 0;
    -webkit-animation-iteration-count: none;
            animation-iteration-count: none;
    animation-duration: 0;
  }
  .nav__btn {
    display: none;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
  }
  .nav__item {
    margin-bottom: 0;
  }
  .nav__item:not(:last-child) {
    margin-right: 40px;
  }
  .nav__link {
    font-size: 15px;
    line-height: 18px;
    color: var(--san-juan-blue);
    opacity: 0.7;
  }
  .nav__link:active {
    opacity: 1;
  }
}
@media only screen and (min-width: 820px) {
  .site-body {
    background-size: 780px 780px;
    background-position: calc(50% + 500px) calc(50% - 200px);
  }
  .site-header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    height: 38px;
  }
  .site-header__btn {
    display: none;
  }
  .site-header__nav {
    width: 975px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: 0;
    background-color: transparent;
    height: 48px;
    right: 0;
    z-index: 0;
    padding: 0;
    -webkit-animation-name: none;
            animation-name: none;
    -webkit-animation-duration: 0;
            animation-duration: 0;
    -webkit-animation-iteration-count: none;
            animation-iteration-count: none;
    animation-duration: 0;
  }
  .nav__btn {
    display: none;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
  }
  .nav__item {
    margin-bottom: 0;
  }
  .nav__item:not(:last-child) {
    margin-right: 40px;
  }
  .nav__link {
    font-size: 15px;
    line-height: 18px;
  }
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__img {
  width: 128px;
  height: 240px;
}

.hero__headding-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  width: 327px;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: var(--san-juan-blue);
  margin: 24px 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-input {
  width: 327px;
  height: 48px;
  background: #fbfcfe;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2509803922);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2509803922);
  border: none;
  border-radius: 24px;
  padding-left: 24px;
  margin-bottom: 16px;
}
.email-input::-webkit-input-placeholder {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: var(--san-juan-blue);
  mix-blend-mode: normal;
  opacity: 0.5;
}
.email-input::-moz-placeholder {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: var(--san-juan-blue);
  mix-blend-mode: normal;
  opacity: 0.5;
}
.email-input:-ms-input-placeholder {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: var(--san-juan-blue);
  mix-blend-mode: normal;
  opacity: 0.5;
}
.email-input::-ms-input-placeholder {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: var(--san-juan-blue);
  mix-blend-mode: normal;
  opacity: 0.5;
}
.email-input::placeholder {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: var(--san-juan-blue);
  mix-blend-mode: normal;
  opacity: 0.5;
}
.email-input:focus {
  outline: none;
}

.form__button {
  width: 327px;
  height: 48px;
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  background-color: #BA4270;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2509803922);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2509803922);
  border-radius: 24px;
  border: none;
  margin-bottom: 24px;
}
.form__button:hover {
  opacity: 0.7;
}
.form__button:active {
  opacity: 0.5;
}

.hero__text {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #6c8294;
}

.text__link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #6c8294;
  text-decoration: none;
}

@media only screen and (min-width: 640px) {
  .hero__img {
    width: 159px;
    height: 300px;
    margin-top: 16px;
  }
  .hero__title {
    width: 573px;
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.246154px;
    color: var(--san-juan-blue);
    font-size: 48px;
    line-height: 56px;
    margin: 48px 0 24px 0;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-bottom: 16px;
  }
  .email-input {
    width: 445px;
    margin-bottom: 0;
  }
  .form__button {
    width: 173px;
    height: 48px;
    position: absolute;
    right: 0;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 820px) {
  .hero__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 74px;
  }
  .hero__img {
    width: 263px;
    height: 500px;
    margin-top: 0;
    margin-left: 290px;
  }
  .hero__headding-box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero__title {
    width: 546px;
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.246154px;
    color: var(--san-juan-blue);
    font-size: 72px;
    line-height: 72px;
    margin: 0;
    text-align: start;
    margin-bottom: 21px;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-bottom: 16px;
  }
  .email-input {
    width: 445px;
    margin-bottom: 0;
  }
  .form__button {
    width: 173px;
    height: 48px;
    position: absolute;
    right: 0;
    margin-bottom: 0;
  }
  .hero__text {
    margin-left: 27px;
  }
}
.brend {
  background-image: url("../images/around-bg.svg");
  background-repeat: no-repeat;
  background-size: 780px 780px;
  background-position: calc(50% - 0px) calc(50% - 551px);
  background-color: var(--mirage-blue);
  margin-top: 80px;
}

.brend__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner__img-box {
  width: 280px;
  height: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 56px;
}

.tesla {
  width: 107px;
  height: 15px;
}

.microsoft {
  width: 120px;
  height: 26px;
}

.hp {
  width: 115px;
  height: 22px;
}

.oracle {
  width: 108px;
  height: 14px;
}

.google {
  width: 79px;
  height: 27px;
}

.nvida {
  width: 113px;
  height: 22px;
}

.inner__headding-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brend__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: var(--san-juan-blue);
  color: #fbfcfe;
  margin: 0;
  margin-bottom: 16px;
}

.brend__text {
  width: 329px;
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #FBFCFE;
  opacity: 0.7;
  margin-bottom: 60px;
}

.brend__link {
  width: 129px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: #fbfcfe;
  border: 1px solid #fbfcfe;
  border-radius: 24px;
  text-decoration: none;
  margin-bottom: 80px;
}
.brend__link:hover {
  color: #1b262f;
  background-color: #ffffff;
  border: 1px solid #fbfcfe;
}
.brend__link:active {
  opacity: 0.5;
}

@media only screen and (min-width: 640px) {
  .brend {
    background-position: calc(50% - 0px) calc(50% - 473px);
    margin-top: 100px;
  }
  .inner__img-box {
    width: 544px;
    height: 135px;
    margin-top: 88px;
    margin-bottom: 64px;
  }
  .tesla {
    width: 129px;
    height: 17px;
  }
  .microsoft {
    width: 145px;
    height: 31px;
  }
  .hp {
    width: 140px;
    height: 27px;
  }
  .oracle {
    width: 131px;
    height: 17px;
  }
  .google {
    width: 96px;
    height: 33px;
  }
  .nvida {
    width: 137px;
    height: 26px;
  }
  .inner__headding-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brend__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 24px;
  }
  .brend__text {
    width: 456px;
    margin-bottom: 32px;
  }
  .brend__link {
    width: 129px;
    height: 48px;
    margin-bottom: 88px;
  }
}
@media only screen and (min-width: 820px) {
  .brend {
    background-position: calc(50% - 610px) calc(50% - 180px);
    margin-top: 75px;
    padding-top: 100px;
  }
  .brend__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inner__img-box {
    width: 544px;
    height: 135px;
    margin-top: -100px;
    margin-bottom: 0;
  }
  .inner__headding-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .brend__text {
    width: 456px;
    text-align: start;
    margin-bottom: 32px;
  }
  .brend__link {
    margin-bottom: 100px;
  }
}
.simple {
  margin-top: 80px;
}

.inner__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box1-img {
  width: 328px;
  height: 209px;
}

.box_headding_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__title {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.276923px;
  color: var(--san-juan-blue);
  margin-top: 48px;
  margin-bottom: 24px;
}

.box__text {
  width: 329px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: var(--light-san-juan-blue);
}

.box2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.box2-img {
  width: 328px;
  height: 290px;
}

.inner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin-top: 80px;
}

.inner__item {
  width: 328px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner__item:not(:last-child) {
  margin-bottom: 48px;
}

.item__img {
  width: 106px;
  height: 106px;
  margin-bottom: 32px;
}

.item__title {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.138462px;
  color: var(--san-juan-blue);
  margin-bottom: 16px;
}

.item__text {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: var(--light-san-juan-blue);
}

.inner_bottom-box {
  margin-top: 80px;
}

.inner__bottom-title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: var(--san-juan-blue);
}

@media only screen and (min-width: 640px) {
  .simple {
    margin-top: 100px;
  }
  .box1-img {
    width: 392px;
    height: 250px;
  }
  .box__title {
    font-size: 48px;
    line-height: 56px;
  }
  .box__text {
    width: 573px;
  }
  .box2-img {
    width: 363px;
    height: 320px;
  }
  .inner__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 100px;
  }
  .inner__item {
    width: 223px;
  }
  .inner__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .item__img {
    width: 88px;
    height: 88px;
  }
  .inner_bottom-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
  .inner__bottom-title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 40px;
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.246154px;
    color: var(--san-juan-blue);
  }
  .simple-section-form {
    width: 445px;
  }
  .simple-section-button {
    position: absolute;
    right: 0;
  }
}
@media only screen and (min-width: 820px) {
  .simple {
    background-image: url("../images/around-bg.svg");
    background-repeat: no-repeat;
    background-size: 780px 780px;
    background-position: calc(50% + 750px) calc(50% - 100px);
    margin-top: 150px;
  }
  .simple__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inner__box {
    width: 1015px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .box1-img {
    width: 445px;
    height: 284px;
  }
  .box_headding_box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .box__title {
    margin-top: 0;
    margin-bottom: 24px;
  }
  .box__text {
    width: 445px;
    text-align: start;
  }
  .box2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 150px;
  }
  .box2-img {
    width: 417px;
    height: 500px;
  }
  .inner__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 146px;
  }
  .inner__item {
    width: 350px;
  }
  .inner__item:not(:last-child) {
    margin-right: 30px;
  }
  .item__img {
    width: 106px;
    height: 106px;
  }
  .inner_bottom-box {
    width: 1110px;
    height: 48px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 96px;
  }
  .inner__bottom-title {
    margin-top: 0;
    margin-bottom: 0;
  }
  .simple-section-form {
    margin-bottom: 0;
  }
}
.not-index-body {
  background-position: calc(50% + 330px) calc(50% - 650px);
}

.pricing__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.inner__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: var(--san-juan-blue);
  margin: 0;
}

.inner_list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-title {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.184615px;
  color: #ba4270;
  margin: 0;
  margin-top: 48px;
}

.pricing-text {
  display: none;
}

.plan-price {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 72px;
  text-align: center;
  letter-spacing: -0.430769px;
  color: #36536B;
  margin: 0;
  margin-top: 81px;
}

.plan-convenience {
  width: 327px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
  border-top: 1px solid var(--san-juan-blue);
  border-bottom: 1px solid var(--san-juan-blue);
  margin-top: 24px;
}

.convenience-box {
  width: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.convenience__check-img {
  position: absolute;
  left: 0;
}

.noconvenience {
  opacity: 0.7;
}

.convenience-text {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #FBFCFE;
  font-size: 16px;
  color: var(--san-juan-blue);
  margin-left: 36px;
}

.plan-link {
  width: 168px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: var(--san-juan-blue);
  border: 1px solid var(--san-juan-blue);
  border-radius: 24px;
  text-decoration: none;
  margin-top: 24px;
}

@media only screen and (min-width: 640px) {
  .not-index-body {
    background-position: calc(50% + 575px) calc(50% - 640px);
  }
  .pricing__inner {
    margin-top: 43px;
  }
  .inner__title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.246154px;
    color: var(--san-juan-blue);
    font-size: 48px;
    line-height: 56px;
  }
  .inner_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .inner_item:not(:last-child) {
    margin-right: 10px;
  }
  .pricing-title {
    font-size: 24px;
    line-height: 40px;
    margin-top: 69px;
  }
  .pricing-text {
    width: 223px;
    display: block;
    font-family: "Public Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #FBFCFE;
    color: var(--san-juan-blue);
    opacity: 0.9;
  }
  .plan-price {
    font-size: 48px;
    line-height: 72px;
    margin-top: 19px;
  }
  .plan-convenience {
    width: 223px;
    margin-top: 21px;
  }
  .convenience-box {
    width: 134px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .convenience__check-img {
    position: absolute;
    left: 0;
  }
  .noconvenience {
    opacity: 0.5;
  }
  .convenience-text {
    font-family: "Public Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #FBFCFE;
    font-size: 16px;
    color: var(--san-juan-blue);
    margin-left: 36px;
  }
}
@media only screen and (min-width: 820px) {
  .not-index-body {
    background-position: calc(50% + 550px) calc(50% - 540px);
  }
  .pricing__inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 50px;
  }
  .inner__title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.246154px;
    color: var(--san-juan-blue);
    font-size: 56px;
  }
  .inner_item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .inner_item:not(:last-child) {
    margin-right: 30px;
  }
  .pricing-title {
    font-size: 32px;
    margin-top: 72px;
  }
  .pricing-text {
    width: 350px;
    text-align: start;
    opacity: 0.9;
  }
  .plan-price {
    font-size: 56px;
    margin-top: 8px;
  }
  .plan-convenience {
    width: 350px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 24px;
  }
  .convenience-box {
    width: 134px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .convenience__check-img {
    position: absolute;
    left: 0;
  }
  .noconvenience {
    opacity: 0.5;
  }
  .convenience-text {
    font-family: "Public Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #FBFCFE;
    font-size: 16px;
    color: var(--san-juan-blue);
    margin-left: 36px;
  }
}
.about-section {
  margin-top: 16px;
}

.section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1__title {
  width: 327px;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: var(--san-juan-blue);
  margin: 0;
  margin-bottom: 32px;
}

.inner__headding-box {
  width: 327px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headding-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headding-box__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.184615px;
  color: var(--san-juan-blue);
  margin: 0;
  margin-top: 48px;
  margin-bottom: 16px;
}

.headding-box__text {
  width: 327px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6c8294;
  margin: 0;
}

.about-img-section {
  height: 300px;
  background-image: url("../images/humans_m.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 76px;
  margin-bottom: 32px;
}

.info-wrapper {
  width: 327px;
  height: 398px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid var(--san-juan-blue);
  border-bottom: 1px solid var(--san-juan-blue);
  padding: 16px 0;
}

.info-box:not(:last-child) {
  margin-bottom: 32px;
}

.info-text {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: var(--san-juan-blue);
  margin: 0;
}

.info-number-text {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 72px;
  text-align: center;
  letter-spacing: -0.430769px;
  color: #ba4270;
  margin: 0;
}

.inner_bottom-box {
  margin-top: 48px;
}

@media only screen and (min-width: 640px) {
  .about-section {
    margin-top: 43px;
  }
  .section1__title {
    width: 572px;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 54px;
  }
  .inner__headding-box {
    width: 689px;
  }
  .headding-box {
    width: 689px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .headding-box:first-child {
    margin-bottom: 64px;
  }
  .headding-box__title {
    font-size: 32px;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .headding-box__text {
    width: 456px;
    text-align: start;
  }
  .about-img-section {
    height: 267px;
    background-image: url("../images/humans_t.png");
    margin-top: 92px;
    margin-bottom: 64px;
  }
  .info-wrapper {
    width: 659px;
    height: 134px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: none;
    border-bottom: none;
    padding: 0;
    margin-bottom: 64px;
  }
  .info-box {
    width: 223px;
    height: 134px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-top: 1px solid var(--san-juan-blue);
    border-bottom: 1px solid var(--san-juan-blue);
    padding-top: 44px;
  }
  .info-box:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 10px;
  }
  .info-text {
    display: none;
  }
  .inner_bottom-box {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 820px) {
  .site-main-about {
    background-image: url("../images/around-bg.svg");
    background-repeat: no-repeat;
    background-size: 780px 780px;
    background-position: calc(50% - 900px) calc(50% + 0px);
  }
  .about-section {
    margin-top: 50px;
  }
  .section1__title {
    width: 668px;
    font-size: 56px;
    text-align: start;
    margin-bottom: 51px;
    margin-left: -250px;
  }
  .inner__headding-box {
    width: 920px;
  }
  .headding-box {
    width: 920px;
  }
  .headding-box:first-child {
    margin-bottom: 56px;
  }
  .headding-box__text {
    width: 635px;
  }
  .about-img-section {
    height: 500px;
    background-image: url("../images/humans_d.png");
    margin-top: 100px;
    margin-bottom: 72px;
  }
  .info-wrapper {
    width: 1110px;
    margin-bottom: 72px;
  }
  .info-box {
    width: 350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 17px;
  }
  .info-box:not(:last-child) {
    margin-right: 30px;
  }
  .info-text {
    display: block;
  }
  .inner_bottom-box {
    margin-top: 100px;
  }
}
.contact {
  margin-top: 16px;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__inner__title {
  width: 327px;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: var(--san-juan-blue);
  margin: 0;
}

.form-and-brand-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.contact-form-label {
  position: relative;
}

.input {
  width: 327px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--san-juan-blue);
  mix-blend-mode: normal;
  margin: 0;
  padding-left: 20px;
  margin-bottom: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(54, 83, 107, 0.5);
}
.input::-webkit-input-placeholder {
  opacity: 0.5;
}
.input::-moz-placeholder {
  opacity: 0.5;
}
.input:-ms-input-placeholder {
  opacity: 0.5;
}
.input::-ms-input-placeholder {
  opacity: 0.5;
}
.input::placeholder {
  opacity: 0.5;
}
.input:not(:-moz-placeholder-shown):not(:focus):invalid {
  color: #ff0000;
  border-bottom: 1px solid #ff0000;
  opacity: 0.5;
}
.input:not(:-ms-input-placeholder):not(:focus):invalid {
  color: #ff0000;
  border-bottom: 1px solid #ff0000;
  opacity: 0.5;
}
.input:not(:placeholder-shown):not(:focus):invalid {
  color: #ff0000;
  border-bottom: 1px solid #ff0000;
  opacity: 0.5;
}
.input:not(:-moz-placeholder-shown):not(:focus):invalid + .contact-form__input-err {
  opacity: 1;
}
.input:not(:-ms-input-placeholder):not(:focus):invalid + .contact-form__input-err {
  opacity: 1;
}
.input:not(:placeholder-shown):not(:focus):invalid + .contact-form__input-err {
  opacity: 1;
}

.contact-form__input-err {
  position: absolute;
  top: 50px;
  left: 0;
  width: 123px;
  opacity: 0;
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.0846154px;
  color: #ff0000;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.input:focus {
  outline: none;
}

.message {
  height: 89px;
  resize: none;
}

.checkboc-symbol {
  width: 327px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.checkbox {
  width: 24px;
  height: 24px;
  color: var(--san-juan-blue);
  margin-right: 26px;
}

.checkbox-text {
  width: 277px;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-style: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--san-juan-blue);
}

.contact-button {
  width: 152px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 24px;
  border: none;
  border: 1px solid var(--san-juan-blue);
  background-color: transparent;
}
.contact-button:hover {
  color: #fff;
  background-color: var(--san-juan-blue);
}

.brand-wrapper {
  width: 327px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

.brand-title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.184615px;
  color: var(--san-juan-blue);
  text-align: center;
  opacity: 0.75;
}

.brand-img-box {
  width: 280px;
  height: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-tesla {
  width: 106.02px;
  height: 14.26px;
}

.b-microsoft {
  width: 119.17px;
  height: 26px;
}

.b-hp {
  width: 114.94px;
  height: 22px;
}

.b-oracle {
  width: 107.55px;
  height: 13.85px;
}

.b-google {
  width: 78.94px;
  height: 27px;
}

.b-nvida {
  width: 112.66px;
  height: 21.27px;
}

@media only screen and (min-width: 640px) {
  .contact {
    margin-top: 43px;
  }
  .contact__inner__title {
    width: 546px;
    font-size: 48px;
    line-height: 56px;
  }
  .form-and-brand-wrapper {
    margin-top: 54px;
  }
  .input {
    width: 445px;
    height: 42px;
  }
  .message {
    height: 89px;
  }
  .checkboc-symbol {
    width: 445px;
  }
  .brand-wrapper {
    width: 541px;
    margin-top: 64px;
  }
  .brand-title {
    width: 445px;
  }
  .brand-img-box {
    width: 541px;
    height: 130px;
  }
  .b-tesla {
    width: 130.2px;
    height: 17px;
  }
  .b-microsoft {
    width: 146.35px;
    height: 31px;
  }
  .b-hp {
    width: 141.31px;
    height: 27px;
  }
  .b-oracle {
    width: 132.22px;
    height: 17px;
  }
  .b-google {
    width: 96.9px;
    height: 33px;
  }
  .b-nvida {
    width: 138.28px;
    height: 26px;
  }
  .inner_bottom-box {
    margin-top: 68px;
  }
}
@media only screen and (min-width: 820px) {
  .contact {
    margin-top: 50px;
  }
  .contact__inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact__inner__title {
    width: 730px;
    font-size: 56px;
  }
  .form-and-brand-wrapper {
    width: 1110px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 54px;
  }
  .brand-wrapper {
    width: 541px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0;
  }
  .brand-title {
    text-align: start;
  }
  .inner_bottom-box {
    margin-top: 61px;
  }
}
.site-footer {
  background-image: url("../images/around-bg.svg");
  background-repeat: no-repeat;
  background-size: 780px 780px;
  background-position: calc(50% - 0px) calc(50% + 390px);
  background-color: var(--mirage-blue);
  margin-top: 80px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner__logo-link {
  margin-top: 41px;
  margin-bottom: 40px;
}

.inner__link-and-sociallink-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner__link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner__link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #fbfcfe;
  mix-blend-mode: normal;
  opacity: 0.7;
  text-decoration: none;
}

.inner__link:not(:last-child) {
  margin-bottom: 31px;
}

.inner__social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 55px;
}

.social-link:not(:last-child) {
  margin-right: 24px;
}

@media only screen and (min-width: 640px) {
  .site-footer {
    background-position: calc(50% + 390px) calc(50% + 230px);
    margin-top: 100px;
  }
  .footer__inner {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .inner__logo-link {
    margin-top: 0;
    margin-bottom: 0;
  }
  .inner__link-and-sociallink-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inner__link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inner__link:not(:last-child) {
    margin-bottom: 0;
    margin-right: 40px;
  }
  .inner__social-box {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 138px;
  }
  .social-link:not(:last-child) {
    margin-right: 24px;
  }
}
@media only screen and (min-width: 820px) {
  .inner__social-box {
    margin-left: 560px;
  }
}/*# sourceMappingURL=syle.css.map */